{%extends 'lumberjack/layout.html.j2'%}
{%block head%}
<!--<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />-->
<!-- Start datatable css -->
<link rel="stylesheet" type="text/css" href="/static/assets/css/dataTables/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="/static/assets/css/dataTables/dataTables.bootstrap4.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.jqueryui.min.css">
{%endblock%}
{%block content%}
<div class="row">
    <div class="col-12 mt-5">
        <div class="card">
            <div class="card-body">

                <div class="row justify-content-between" style="margin-right: 0px">
                <h4 class="header-title">{{name}}</h4><a class="btn btn-primary" href="{{request.path + '/new'}}">Add Item</a>
                </div>
                <div class="data-tables datatable-primary">
                    <table id="dataTable" class="text-center">
                        <thead class="text-capitalize">
                            <tr>
                                {%for item in headList%}
                                <th>{{item}}</th>
                                {%endfor%}
                            </tr>
                        </thead>
                        <tbody>
                            {%for item in dataList%}
                            <tr>
                                {%for value in headList%}
                                <td>{{item[value]}}</td>
                                {%endfor%}
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}
{%block scripts%}
<!-- Start datatable js -->
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>
{%endblock%}

</html>