<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{name}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="/static/assets/images/icon/lumberjack.ico">
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/assets/css/themify-icons.css">
    <link rel="stylesheet" href="/static/assets/css/metisMenu.css">
    <link rel="stylesheet" href="/static/assets/css/slicknav.min.css">
    {%block head%}{%endblock%}
    <!-- others css -->
    <link rel="stylesheet" href="/static/assets/css/typography.css">
    <link rel="stylesheet" href="/static/assets/css/default-css.css">
    <link rel="stylesheet" href="/static/assets/css/styles.css">
    <link rel="stylesheet" href="/static/assets/css/responsive.css">
    <!-- modernizr css -->
    <script src="/static/assets/js/vendor/modernizr-2.8.3.min.js"></script>
    
</head>

<body>
    
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- page container area start -->
    <div class="page-container">
        <!-- sidebar menu area start -->
        <div class="sidebar-menu">
            <div class="sidebar-header">
                <div class="logo">
                    <img src="/static/assets/images/icon/logo.svg" alt="logo">
                </div>
            </div>
            <div class="main-menu">
                <div class="menu-inner"> 
                    <nav>
                        <ul class="metismenu" id="menu">
                            {% for item in sidebarItems %}
                            {% if request.path == item.ref %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{{item.ref}}" aria-expanded="true"><i class="{{item.icon}}""></i><span>{{item.name}}</span></a>
                                {% if item.ref == "javascript:void(0)" %}
                                    <ul class="collapse">
                                        {% for subitem in item.children %}
                                        <li>
                                            <a href="{{subitem.ref}}" aria-expanded="true">{{subitem.name}}</a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- sidebar menu area end -->
        <!-- main content area start -->
        <div class="main-content">
            <!-- page title area start -->
            <div class="page-title-area">
                <div class="nav-btn pull-left">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left">{{name}}</h4>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 clearfix">
                        <div class="row align-items-center justify-content-end">
                            <ul class="notification-area pull-right">
                                <li id="full-view"><i class="ti-fullscreen"></i></li>
                                <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
                            </ul>
                            <div class="user-profile pull-right dropdown-toggle" data-toggle="dropdown" style="cursor: pointer;">

                                <img class="avatar user-thumb" src={{url_for('user.get_user_profile_picture', id=g.user.id, _external=True)}} alt="avatar">
                                <h4 class="user-name dropdown-toggle" >{{g.user.username}}</h4>

                            </div>
                            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(45px, 45px, 0px); top: 0px; left: 0px; will-change: transform;">
                                <a class="dropdown-item" href="{{url_for('panel.panel_logout')}}"><i class="fa fa-sign-out"></i>  Log Out</a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <!-- page title area end -->
            <div class="main-content-inner">
                {%block content%}{%endblock%}
            </div>
        <!-- main content area end -->
        <!-- footer area start-->
        <footer>
            <div class="footer-area">
                <p>© Copyright 2020 <a href="https://reampt.com">Reampt</a>.  All right reserved. </p>
            </div>
        </footer>
        <!-- footer area end-->
    </div>
    <!-- page container area end -->
   
    <!-- jquery latest version -->
    <script src="/static/assets/js/vendor/jquery-2.2.4.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="/static/assets/js/popper.min.js"></script>
    <script src="/static/assets/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/owl.carousel.min.js"></script>
    <script src="/static/assets/js/metisMenu.min.js"></script>
    <script src="/static/assets/js/jquery.slimscroll.min.js"></script>
    <script src="/static/assets/js/jquery.slicknav.min.js"></script>

    {%block scripts%}{%endblock%}

    <script src="/static/assets/js/plugins.js"></script>
    <script src="/static/assets/js/scripts.js"></script>
</body>

</html>
